<div class="container">
  <div class="row">
    <h1>Secrets</h1>
    <a class="offset-2" href="/users/<%= current_user.id %>">Your Secrets</a>
  </div>
  <!-- <table class="table">
    <% @all_secrets.each do |secret| %>
    <tr>
      <td><%= secret.content %></td>
      <% if secret.user_id == current_user.id %>
      <td> <a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a> </td>
      <% end %>
    </tr>
    <% end %>
  </table> -->

  <% @all_secrets.each do |secret| %>
  <div class="group">
    <div class="row">
      <p><%= secret.content %></p>
      <% if secret.user_id == current_user.id %>
      <a class="offset-1" href="/secrets/<%= secret.id %>" data-method="delete">Delete</a>
      <% end %>
    </div>
    <div class="row">
      <% if @likes.where(secret_id: secret.id).count == 0 %>
        <p>0 likes</p>
      <% else %>
        <p><%= @likes.where(secret_id: secret.id).count %> likes</p>
      <% end %>
      <% if current_user.secrets_liked.includes(:user).joins(:user).include? secret %>
        <a class="btn btn-danger text-white offset-1" href="/likes/<%= secret.id %>" data-method="delete">Unlike</a>
      <% else %>
        <a class="btn btn-success text-white offset-1" href="/likes/<%= secret.id %>" data-method="post">Like</a>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
