<div class='col'>
    <h1>Editing <%= @dojo.branch %> </h1>
    <form class="form-signin" action="/dojos/<%= @dojo.id %>" method="post">
        <input type='hidden' name='_method' value='patch'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="dojo[branch]" class="form-control" value= "<%= @dojo.branch %>" >
        <input type="text" name="dojo[street]" class="form-control" value= "<%= @dojo.street %>" >
        <input type="text" name="dojo[city]" class="form-control" value= "<%= @dojo.city %>" >
        <input type="text" name="dojo[state]" class="form-control" value= "<%= @dojo.state %>" >
        <div class="wrapper">
            <span class="group-btn  col-lg-6">     
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Update</button>
            </span>
        </div>
    </form>
    <% if flash[:error] %>
    <div class="notice"><%= flash[:error] %></div>
  <% end %>
</div>
    