<div>
    <h1>Listing <%=@dojos.length%> Dojos</h1>
    <table class='table col 1'>
       <thead>
            <tr>
                <td>Branch</td>
                <td>Street</td>
                <td>City</td>
                <td>State</td>
            </tr>
        </thead>
        <tbody>
            <% @dojos.each do |dojo| %>
            <tr>
               <td><%= dojo.branch %></td>
               <td><%= dojo.street %></td>
               <td><%= dojo.city %></td>
               <td><%= dojo.state %></td>
            </tr>
            <% end %>  
        </tbody>
    </table>
</div>