<div class = 'col-8 Absolute-Center is-Responsive'>
    <h1>Listing <%=@dojos.length%> Dojos</h1>
    <table class='table table-striped text-center'>
       <thead class='thead-dark'>
            <tr>
                <th>Branch</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @dojos.each do |dojo| %>
            <tr>
               <td><%= dojo.branch %></td>
               <td><%= dojo.street %></td>
               <td><%= dojo.city %></td>
               <td><%= dojo.state %></td>
                <td>
                    <a href='/dojos/<%= dojo.id %>' class='btn btn-outline-dark mr-1'>Show</a>
                    <a href='/dojos/<%= dojo.id %>/edit' class='btn btn-outline-dark mx-2'>Edit</a>
                    <a href='/dojos/<%= dojo.id %>' data-method="delete" class='btn btn-outline-dark ml-1'>Destroy</a>
               </td>
            </tr>
            <% end %>  
        </tbody>
    </table>
    <a href='/dojos/new' class='btn btn-dark'>New Dojo</a>

    <% if flash[:success] %>
    <div class="notice"><%= flash[:success] %></div>
  <% end %>
</div>