<div>
    <h1>Listing <%=@dojos.length%> Dojos</h1>
    <table class='table col 1'>
       <thead>
            <tr>
                <td>Branch</td>
                <td>Street</td>
                <td>City</td>
                <td>State</td>
            </tr>
        </thead>
        <tbody>
            <% @dojos.each do |dojo| %>
            <tr>
               <td><%= dojo.branch %></td>
               <td><%= dojo.street %></td>
               <td><%= dojo.city %></td>
               <td><%= dojo.state %></td>
                <td>
                    <a href='/dojos/<%= dojo.id %>'>Show</a>
                    <a href='/dojos/<%= dojo.id %>/edit'>Edit</a>
                    <a href='/dojos/<%= dojo.id %>' data-method="delete">Destroy</a>
               </td>
            </tr>
            <% end %>  
        </tbody>
    </table>
    <a href='/dojos/new'><button>New Dojo</button></a>
    <% if flash[:success] %>
    <div class="notice"><%= flash[:success] %></div>
  <% end %>
</div>