<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Dojo Survey Results</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="alert alert-success" role="alert">
                <h2>You have submitted this form: <%= session[:count] %> times!</h2>
            </div>
            <h1>Submitted Info:</h1>
            <p>Name: <%= session[:name] %></p>
            <p>Dojo Location: <%= session[:location] %></p>
            <p>Favorite Language: <%= session[:language] %></p>
            <p>Comment: <%= session[:comment] %></p>
            <a href="http://localhost:3000/">Go Back</a>
        </div>
    </body>
</html>
