<div class="navbar bg-dark">
  <h1 class="text-white">Welcome <%= @user[0].first_name %></h1>
  <a href="/users/logout">Logout</a>
</div>
<% if flash %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% end %>
<h1>Post a Message</h1>
<form class="col-6" action="/messages" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea class="form-control" name="message" rows="4"></textarea>
  <button class="btn btn-success mt-3" type="submit">Create</button>
</form>
</br></br>
<div>
  <% @messages.reverse.each do |message| %>
        <h4><%= message.user.first_name %> <%= message.user.last_name %> - <%= message.created_at.strftime('%B %d, %Y %I:%M %p') %></h4>
        <p><%= message.message %></p><br>
  <% end %>
