<!DOCTYPE html>
<html>
  <head>
  <title>StudentDashboard</title> 

    <!-- Required CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Open+Sans|Poiret+One">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'main.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="container-fluid">
    <nav class="dark" style="position:fixed;">
      <div class="nav-wrapper">
        <a href="/"><img src="/assets/codingdojo.png"</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <% if session["page"] === 'student'%>
          <li><a href="/dojo/<%= session["dojoid"] %>/students/new">Add New Student</a></li>
          <% else %>
          <li><a href="/dojo/new">Add New Dojo</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <!-- Required JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
