<h1>Dojos#index</h1>
<p>Listing <%= @dojo.count %> Dojos</p>

<table>
    <tr>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    <tbody>
        <% @dojo.each do |dojo| %>
        <tr>
            <td><%= dojo.branch%></td>
            <td><%= dojo.street%></td>
            <td><%= dojo.city%></td>
            <td><%= dojo.state%></td>
            <td>
                <a href="/dojos/<%= dojo.id %>">Show &#8739 </a>
                <a href="/dojos/<%= dojo.id %>/edit">Edit &#8739 </a>
                <form action="/dojos/<%= dojo.id %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Destroy">
                </form>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<a href="/dojos/new">New Dojo</a>
