<div class="navbar">
  <h1>Welcome, <%= current_user.name %>!</h1>
  <a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
</div>

<div class="container">
  <h2>Create a Secret:</h2>
  <form class="col-6" action="/secrets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <textarea class="col" name="secret[content]" rows="4" placeholder="Content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Secret</button>
  </form>
  <table class="table col-6">
    <tr>
      <th>Secrets</th>
      <th></th>
    </tr>
    <% @secrets.each do |secret| %>
    <tr>
      <td><%= secret.content %></td>
      <td> <a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a> </td>
    </tr>
    <% end %>
  </table>
</div>
