<!DOCTYPE html>
<html>
<head>
  <title>DojoSecrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>
  <% if current_user %>
    <a class="d-flex justify-content-end mr-3" href="/sessions/<%= current_user.id %>" data-method="delete">Log Out</a>
  <% end %>

<%= yield %>

</body>
</html>
