<div class="container">
    <h1>Listing <%=@dojos.length%> Dojos</h1>
    <table class='table'>
       <thead class="thead-light">
            <tr>
                <th>Branch</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <% @dojos.each do |dojo| %>
            <tr>
               <td><%= dojo.branch %></td>
               <td><%= dojo.street %></td>
               <td><%= dojo.city %></td>
               <td><%= dojo.state %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
