<div class="container mt-5">

	<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<p><%= e %></p>
		<% end %>
	<% end %>

	<h1>Post a message</h1>

	<form action="/messages" method="post">
		<div class="form-group">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<textarea name="message[message]" id="message" cols="60" rows="10"></textarea>
		</div>
		<input type="submit" class="btn btn-info btn-lg" width="6rem" value="Post a Message">
	</form>

	<% @messages.each do |elem| %>
		<h2><%= "#{elem.user.username} - #{elem.created_at.strftime("%B #{elem.created_at.day.ordinalize}, %Y")}" %></h2>
		<p><%= elem.message %></p>

		<h3>Comments</h3>

		<% elem.comments.each do |comment| %>
			<h2><%= "#{comment.user.username} - #{comment.created_at.strftime("%B #{comment.created_at.day.ordinalize}, %Y")}" %></h2>
			<p><%= comment.content %></p>
		<% end %>

		<form action="/comments" method="post">
			<input type="hidden" name="comment[message_id]" value="<%= elem.id %>">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group"><textarea name="comment[content]" id="comment" cols="40" rows="7"></textarea></div>
			<input type="submit" class="btn btn-primary" value="Post a Comment">
		</form>
	<% end %>
</div>