<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <div>
        <h2>Edit User <%= @user.id %></h2>
        <form action="/users/<%= @user.id %>" method="PATCH">
            <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>" >

            <label>First Name:</label>
            <input type="text" name="user[first_name]" value = "<%= @user.first_name %> ">

            <label>Last Name:</label>
            <input type="text" name="user[last_name]" value = "<%= @user.last_name %> ">

            <input type="submit" value="Update User">
        </form>
        <a href="/users/<%= @user.id %>">Show</a> | <a href="/users">Go Back</a>	
	</div>
</body>
</html>
