<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Survey Results</title>
  </head>
  <body>
    <p class="alert alert-success"><%= flash[:success] %></p>
    <div class="container">
      <h3>Submitted Info</h1>
      <div class="row">
        <p class="col-4">Name:</p>
        <p class="col-4"><%= session[:name] %></p>
      </div>
      <div class="row">
        <p class="col-4">Dojo Location:</p>
        <p class="col-4"><%= session[:location] %></p>
      </div>
      <div class="row">
        <p class="col-4">Favorite Language:</p>
        <p class="col-4"><%= session[:language] %></p>
      </div>
      <div class="row">
        <p class="col-4">Comment:</p>
        <p class="col-4"><%= session[:comment] %></p>
      </div>
      <form action="/result" method="post">
        <input type="hidden" name="authenticity_token" value="form_authenticity_token">
        <button class="btn btn-success" type="submit">Go Back</button>
      </form>
    </div>
  </body>
</html>
