<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
      .scrollbar {
        height: 200px;
        width: 1200px;
        overflow: scroll;
      }
    </style>
  </head>
  <body class="bg-light">
    <div class="navbar bg-dark justify-content-center">
      <h2 class="text-white">Ninja Gold</h2>
    </div>
    <div class="row mt-3 mb-3 justify-content-center">
      <p class="col-1 h3 font-weight-normal">Total:</p>
      <div class="col-1 bg-white border border-dark"><%= session[:gold] %></div>
      <form action="/reset" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button type="submit" class="btn btn-danger ml-3">Reset</button>
      </form>
    </div>
    <div class="container">
      <div class="row justify-content-center mb-3">
        <form class="col-2 border border-dark p-3 mr-3 bg-white" action="/farm" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <h2>Farm</h2>
          <p>Earns 20-50 gold</p>
          <button class="btn btn-success" type="submit" name="submit">Get Gold!</button>
        </form>
        <form class="col-2 border border-dark p-3 mr-3 bg-white" action="/cave" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <h2>Cave</h2>
          <p>Earns 51-100 gold</p>
          <button class="btn btn-success" type="submit" name="submit">Get Gold!</button>
        </form>
        <form class="col-2 border border-dark p-3 mr-3 bg-white" action="/house" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <h2>House</h2>
          <p>Earns 25-200 gold</p>
          <button class="btn btn-success" type="submit" name="submit">Get Gold!</button>
        </form>
        <form class="col-2 border border-dark p-3 mr-3 bg-white" action="/casino" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <h2>Casino</h2>
          <p>Earns/Loses 500-1000 gold</p>
          <button class="btn btn-warning" type="submit" name="submit">Risk it!</button>
        </form>
      </div>
      <div class="row">
        <h3 class="col-1 font-weight-normal">Activities:</h3>
      </div>
      <div class="scrollbar bg-white border border-dark col-12">
        <% session[:activities].reverse.each do |activity| %>
          <p style="color: <%= activity['color'] %>"><%= activity['msg'] %></p>
          <br>
        <% end %>
      </div>
    </div>
  </body>
</html>
